.imp1{
    position: relative;
    width: 100%;
}
.foto2{
    display: block;
    opacity: 1;
    width: 100%;
        height: auto;
        transition: .7s ease;
        backface-visibility: hidden;
  
}

.overlay1{
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.imp1:hover .foto2 {
    opacity: 1;
  }
  .imp1:hover .overlay1 {
    opacity: 1;
  }
  .txt2 {
    background-color:none;
    text-decoration: none;
    color: white;
    font-size: 60px;
    padding: 14px 28px;
    font-family: 'Stint Ultra Condensed', cursive;
  }

  /* NDRYSHIMET E BERA NE NAVBAR */

  #navbarSupportedContent{
    
    padding-right: 20%;
    padding-left: 20%;
  }

  /* Fillojm me pjesen me poshte pjeses kryesore te Home */
  .tekst{
    font-family: Georgia, serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 70px;
  }

  .prezantim{
    background-color: #AA461F;
  }
  #numri{
    font-family: 'Playfair Display',serif;
    font-weight: 700;
    font-size: 8rem;
  }
  #txt2{
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.875rem;
    font-family: 'Playfair Display',serif;

  }

  .section1{
    height: 500px;
  }

 .tekst3{
  font-family: Georgia, serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 70px;
 }

.section1{
  background-color: #e8c1a2;
}

.tekst5{
  font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    font-family: 'Playfair Display',serif ;
    margin: 35px
}

.tekst6{
  font-weight: 300;
    line-height: 1.2;
    font-size: 1.875rem;
    font-family: 'Playfair Display',serif ;
    margin: 35px;
}

.section1>p{
  text-align: end;
  padding-top: 30px;
  font-family: 'Playfair Display',serif
}
 .Pershkrimi01{
  font-size: 1.25rem;
  margin: 0;
  color: grey;
  font-weight: 550;
  line-height: 1.6;
  text-align: end;
  font-family: 'Open Sans',sans-serif;

}


.tekst4{
  font-family: Georgia, serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 70px;
 }
.tresfotos{
  border: 2px solid black;
}
 #tekst7{
  font-family: Georgia, serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
/* FOOTER */
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
footer{
  background: white;
  height: auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 40px;
  color: rgb(207, 65, 9);
  
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(190, 34, 34);
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;

}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
